.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  width: 90%;
  min-height: 85vh;
  z-index: 1;
}

@media (min-width: 576px) {
  .wrapper {
    width: 75%;
    min-height: 95vh;
  }
}

@media (min-width: 768px) {
  .wrapper {
    min-height: 60vh;
  }
}

@media (min-width: 992px) {
  .wrapper {
    min-height: 70vh;
  }
}

@media (min-width: 1400px) {
  .wrapper {
    width: 40%;
  }
}

@media (min-width: 992px) {
  .wrapper .image {
    background-image: url(../img/pexels-mark-mccammon-1080953.jpg);
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
  }
}

@media (min-width: 1400px) {
  .wrapper .image {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: 1s;
    transition: 1s;
    z-index: 1;
  }
}

.wrapper .registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
}

@media (min-width: 576px) {
  .wrapper .registration {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .wrapper .registration {
    width: 50%;
  }
}

@media (min-width: 1400px) {
  .wrapper .registration {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

.wrapper .registration h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper .registration form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.wrapper .registration form input {
  border: 0px;
  border-bottom: 1px solid #c4c1c1;
  font-size: 15px;
  padding: 5px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (min-width: 992px) {
  .wrapper .registration form input {
    width: 80%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 1200px) {
  .wrapper .registration form input {
    width: 60%;
  }
}

@media (min-width: 1400px) {
  .wrapper .registration form input {
    width: 80%;
  }
}

.wrapper .registration form input:focus {
  outline: none;
  border-bottom: 1px solid #c95fe4;
  font-weight: 700;
}

.wrapper .registration form .name-field {
  display: none;
}

.wrapper .registration form .name-field.active {
  display: block;
}

.wrapper .registration form button {
  padding: 12px 0;
  font-size: 16px;
  border-radius: 20px;
  border: 0px;
  background: #c95fe4;
  color: white;
  font-weight: 600;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .wrapper .registration form button {
    width: 80%;
    margin-top: 5px;
  }
}

@media (min-width: 1200px) {
  .wrapper .registration form button {
    width: 60%;
  }
}

@media (min-width: 1400px) {
  .wrapper .registration form button {
    width: 80%;
  }
}

.wrapper .registration form .signInBtn.active {
  display: block;
}

.wrapper .registration form .signInBtn {
  display: none;
}

.wrapper .registration form .signUpBtn.active {
  display: block;
}

.wrapper .registration form .signUpBtn {
  display: none;
}

.wrapper .registration footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper .registration footer p {
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
  color: grey;
}

.wrapper .registration footer i {
  font-size: 22px;
  padding: 0 10px;
}

.wrapper .registration footer .fa-facebook {
  color: #3e3edf;
  cursor: pointer;
}

.wrapper .registration footer .fa-google {
  color: #c72929;
  cursor: pointer;
}

.wrapper .registration #toggler {
  font-size: 15px;
  font-weight: normal;
  color: grey;
  cursor: pointer;
}

.bgc-main {
  width: 100%;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.52)), to(rgba(117, 19, 93, 0.73))), url("../img/mainPhone/pexels-bao-dang-3700369 (1).jpg");
  background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0.52), rgba(117, 19, 93, 0.73)), url("../img/mainPhone/pexels-bao-dang-3700369 (1).jpg");
  background-position: center;
  background-size: cover;
  color: white;
}

.fas.fa-bars {
  position: absolute;
  top: 5%;
  right: 10%;
  font-size: 25px;
  z-index: 2;
}

@media (min-width: 1024px) {
  .fas.fa-bars {
    display: none;
  }
}

nav {
  width: 100%;
}

nav ul {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  bottom: 0;
  left: 120%;
  overflow: hidden;
  right: 0;
  background-color: #290b1c;
  z-index: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media (min-width: 1024px) {
  nav ul {
    left: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    bottom: 90%;
    background-color: transparent;
  }
}

nav ul li {
  list-style: none;
  border: 1px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 1024px) {
  nav ul li:hover {
    border: 1px solid white;
    border-radius: 40px;
  }
}

nav ul li a {
  display: block;
  padding: 50px 0;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

nav ul li a i {
  margin-right: 20px;
}

@media (min-width: 1024px) {
  nav ul li a {
    padding: 10px 35px;
  }
}

nav ul.active {
  left: 0;
}

.goToFinder {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 25px;
}

@media (min-width: 1024px) {
  .goToFinder {
    font-size: 35px;
  }
}

@media (min-width: 1600px) {
  .goToFinder {
    font-size: 45px;
  }
}

.goToFinder p {
  padding: 10px 0;
  font-size: 20px;
}

@media (min-width: 1024px) {
  .goToFinder p {
    font-size: 25px;
  }
}

.main-btn {
  position: absolute;
  left: 50%;
  bottom: 15%;
  -webkit-transform: translate(-50%, -15%);
          transform: translate(-50%, -15%);
  border: 0;
  font-size: 25px;
  padding: 10px 90px;
  border-radius: 40px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  text-decoration: none;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.52)), to(rgba(117, 19, 93, 0.73))), url("../img/bgc.jpg");
  background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0.52), rgba(117, 19, 93, 0.73)), url("../img/bgc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  font-family: 'arial';
}
/*# sourceMappingURL=style.css.map */