.wrapper {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  width: 90%;
  min-height: 85vh;
  z-index: 1;

  @media (min-width: 576px) {
    width: 50%;
    min-height: 95vh;
  }
  @media (min-width: 768px) {
    min-height: 60vh;
  }
  @media (min-width: 992px) {
    min-height: 70vh;
  }
  @media (min-width: 1350px) {
    width: 50%;
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    min-height: 50%;
  }

  @media (min-width: 1350px) {
    min-height: 75vh;
  }
  @media (min-width: 1550px) {
    width: 40%;
    min-height: 65vh;
  }

  .image {
    @media (min-width: 992px) {
      background-image: url(../img/pexels-mark-mccammon-1080953.jpg);
      width: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 10px 0 0 10px;
    }
    @media (min-width: 1024px) {
      width: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      transition: 1s;
      z-index: 1;
    }
  }
  .registration {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    @media (min-width: 576px) {
      width: 80%;
    }
    @media (min-width: 992px) {
      width: 50%;
    }
    @media (min-width: 1024px) {
      width: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      transition: 1s;
    }

    h2 {
      @include displayCenter;
      flex-grow: 1;
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-content: center;
      flex-grow: 2;
      input {
        border: 0px;
        border-bottom: 1px solid rgb(196, 193, 193);
        font-size: 15px;
        padding: 5px 0;
        transition: 0.2s;

        @media (min-width: 992px) {
          width: 80%;
          align-self: center;
        }
        @media (min-width: 1200px) {
          width: 60%;
        }
        @media (min-width: 1350px) {
          width: 80%;
        }
        @media (min-width: 1550px) {
          width: 80%;
        }

        &:focus {
          outline: none;
          border-bottom: 1px solid rgb(201, 95, 228);
          font-weight: 700;
        }
      }
      .name-field {
        display: none;
      }
      .name-field.active {
        display: block;
      }
      button {
        padding: 12px 0;
        font-size: 16px;
        border-radius: 20px;
        border: 0px;
        background: rgb(201, 95, 228);
        color: white;
        font-weight: 600;
        width: 100%;
        margin: 0 auto;
        cursor: pointer;
        transition: 0.3s;
        @media (min-width: 576px) {
          width: 100%;
          margin-top: 5px;
        }
        @media (min-width: 1200px) {
          &:hover {
            background-color: black;
          }
          width: 60%;
        }
        @media (min-width: 1350px) {
          width: 80%;
        }
        @media (min-width: 1550px) {
          width: 80%;
        }
      }
      .signInBtn.active {
        display: block;
      }
      .signInBtn {
        display: none;
      }
      .signUpBtn.active {
        display: block;
      }
      .signUpBtn {
        display: none;
      }
    }
    footer {
      @include displayCenter;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      flex-grow: 1;
      p {
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
        color: grey;
      }
      i {
        font-size: 22px;
        padding: 0 10px;
      }
      .fa-facebook {
        color: rgb(62, 62, 223);
        cursor: pointer;
      }
      .fa-google {
        color: rgb(199, 41, 41);
        cursor: pointer;
      }
    }
    #toggler {
      font-size: 15px;
      font-weight: normal;
      color: grey;
      cursor: pointer;
    }
  }
}
.modal-wrap.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.295);
  z-index: 1;
}
.modal-wrap {
  transition: 0.5s;

  .modal {
    // display: none;
    transform: scale(0);
  }
  .modal.active {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 20%;
    background-color: white;
    z-index: 1;
    border-radius: 10px;
    transform: scale(1) translate(-50%, -50%);

    transition: 0.5s;

    @media (min-width: 576px) {
      height: 40%;
      width: 60%;
    }
    @media (min-width: 768px) {
      height: 50%;
      width: 50%;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
      height: 20%;
    }
    @media (min-width: 1024px) {
      height: 15%;
      width: 40%;
    }
    @media (min-width: 1200px) {
      height: 25%;
      width: 25%;
    }
    @media (min-width: 1550px) {
      height: 20%;
      width: 20%;
    }

    .fa-times {
      position: absolute;
      top: 5%;
      right: 5%;
      font-size: 20px;
    }
    .error-message {
      position: absolute;
      font-size: 15px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 95%;
      text-align: center;
      line-height: 150%;
      color: rgb(5, 151, 17);
    }
    .fa-exclamation-triangle {
      position: absolute;
      color: orange;
      top: 5%;
      left: 50%;
      transform: translate(-50%, -5%);
      font-size: 35px;

      @media (min-width: 768px) {
        top: 15%;

        transform: translate(-50%, -15%);
      }
    }
  }
}

.wrapper.blur {
  filter: blur(2px);
}
